<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/final_style.css') }}">
</head>

<body>
  
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1><b>Mission to Mars</b></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
        <h2 id="news_title"><b>Latest Mars News</b></h2>
        <h3>{{ mars.news_title }}</h3>
        <p>{{ mars.news_desc }} </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-6">
        <h2><b> Featured Image </b></h2>
        <img class="featured" src="{{ mars.feat_image }}" alt="Mars">
      </div>
      <div class="col-6">
        <h2><b>Latest Weather Update</b></h2>
        <p> {{ mars.weather}}</p>
        <h2><b>Mars Facts</b></h2>
        {{ mars.fact_table | safe }}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-2"></div>
        <div class="col-8">
        <h2><b>Mars Hemispheres</b></h2>
          <div class="row text-center">
              {% for hemisphere in mars.hemispheres %}
              <div class="col-6">
                <img class="hemisphere" src="{{ hemisphere.img_url }}" alt="{{ hemisphere.title}}">
                <p>{{ hemisphere.title }}</p>
              </div>
              {% endfor %}
          </div>  
        </div>
      <div class="col-2"></div> 
    </div>
  </div>

</body>

</html>
